/* ios bounce */
html,
body {
	height: 100%;
	width: 100%;
	overflow: auto;
	color: #264F72;
	font-family: menlo, monaco, monospace, sans-serif;
}

a { color: blue; }

body {
	margin: 0px;
	overflow: hidden;
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

#desktop {
	opacity: 0;
	transition: opacity 2s ease-in;
}

#lines {
	position: fixed;
	display: none;
	z-index: 1;
}

#draw {
	display: none;
	position: fixed;
	z-index: 2;
	top: 80px;
	left: 0;
	border-top: 1px solid #264F72;
	border-bottom: 1px solid #264F72;
}

#ui {
	/*position: fixed;*/
	z-index: 0;
	top: 0;
	left: 0;
}

.message {
	display: none;
}