/* ios bounce */
:root {
	--color: #264F72;
}

html,
body {
	height: 100%;
	width: 100%;
	overflow: auto;
	color: var(--color);
	font-family: menlo, monaco, monospace, sans-serif;
}

a { color: blue; }

body {
	margin: 0px;
	overflow: hidden;
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

button {
	font: inherit;
	color: inherit;
	background-color: white;
	border: 2px solid var(--color);
	border-radius: 0.25em;
	cursor: pointer;
}

button:focus, button:hover, button:active {
	outline: none;
	background-color: var(--color);
	color: white;
}

#desktop, #mobile {
	opacity: 0;
	transition: opacity 1s ease-in;
}

#lines {
	position: fixed;
	display: none;
	z-index: 1;
}

#draw {
	display: none;
	position: fixed;
	z-index: 2;
	top: 80px;
	left: 0;
	right: 0;
	border-top: 1px solid #264F72;
	border-bottom: 1px solid #264F72;
	margin: 0 auto;
}

#ui {
	/*position: fixed;*/
	z-index: 0;
	top: 0;
	left: 0;
}

.message {
	display: none;
}